{% extends 'base.html' %}
{% load static %}
{% block titulo %}<title>Apartar Tour</title>{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                {% if tour.imagen %}
                    <img src="{{ tour.imagen.url }}" class="card-img-top" alt="{{ tour.nombre }}" style="max-width: 100%;">
                {% else %}
                    <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="{{ tour.nombre }}" style="max-width: 100%;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tour.nombre }}</h5>
                    <p class="card-text">{{ tour.descripcion }}</p>
                    <p class="card-text"><small class="text-muted">Duración: {{ tour.duracion }} horas</small></p>
                    <p class="card-text"><small class="text-muted">Precio: ${{ tour.precio }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h2>Apartar {{ tour.nombre }}</h2>
                <form method="post" action="{% url 'proceso_pago' tour.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="nombre_tour">Nombre del Tour:</label>
                        <input type="text" class="form-control" id="nombre_tour" name="nombre_tour" value="{{ tour.nombre }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required pattern="\d{10}" maxlength="10" title="El número de teléfono debe contener 10 dígitos">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="estado" name="estado">
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad">
                    </div>
                    <div class="form-group">
                        <label for="cantidad_personas">Cantidad de Personas:</label>
                        <input type="number" class="form-control" id="cantidad_personas" name="cantidad_personas" value="1" required>
                    </div>
                

                    <div class="form-group">
                        <label for="numero_tarjeta">Número de Tarjeta:</label>
                        <input type="text" class="form-control" id="numero_tarjeta" name="numero_tarjeta" required>
                    </div>

                    <button type="submit" class="btn btn-success">Confirmar Reserva y Pagar</button>
                    <a href="{% url 'lista_tours' %}" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
// Función para calcular el total a pagar
function calcularTotal() {
    // Obtener el número de personas
    let cantidadPersonas = document.getElementById('cantidad_personas').value;
    // Obtener el precio del tour desde Django
    let precio = {{ tour.precio|floatformat:2 }};
    // Calcular el total
    let total = cantidadPersonas * precio;
    // Mostrar el total en el campo de pago
    document.getElementById('pago').value = '$' + total.toFixed(2);
}

// Ejecutar la función cada vez que se cambie la cantidad de personas
document.getElementById('cantidad_personas').addEventListener('input', calcularTotal);

// Ejecutar la función al cargar la página para manejar el valor inicial
document.addEventListener('DOMContentLoaded', calcularTotal);
</script>
{% endblock %}
