{% extends 'base.html' %}
{% block titulo %}<title>Login</title>{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Iniciar sesión</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
